<% done_css_class = (todo.done? ? "done":"") %>
<div class="row" id=<%= "todo_row_#{todo.id}" %>>
  <div class="row">
    <div class="col-xs-4 <%= done_css_class %>" id=<%= "todo_title_#{todo.id}" %> >
      <%= todo.title %>
    </div>
    <div class="col-xs-4 <%= done_css_class %>" id=<%= "todo_deadline_at_#{todo.id}" %>>
      <%= todo.deadline_at %>
    </div>
    <div class="col-xs-4">
      <%= render 'ui/crud_buttons.html.erb', todo: todo, user: current_user %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
       <%= render 'form.html.erb', todo: todo, url: user_todo_path(current_user.id, todo.id, format: :json) %>
    </div>
  </div>
  <hr>
</div>


