<div class="row">
  <div class="col-xs-4" id=<%= "todo_title_#{todo.id}" %> >
    <%= todo.title %>
  </div>
  <div class="col-xs-4" id=<%= "todo_deadline_at_#{todo.id}" %>>
    <%= todo.deadline_at %>
  </div>
  <div class="col-xs-4">
    <%= render 'ui/crud_buttons', todo: todo %>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
     <%= render 'form', todo: todo, url: user_todo_path(current_user.id, todo.id, format: :json), html_class: "todo-edit-form-wrapper hidden"%>
  </div>
</div>
<hr>


